@import 'https://cdn.jsdelivr.net/npm/modern-normalize@1.0.0/modern-normalize.css';

body,
body[data-theme='light'] {
  --bg-color: #fff;
  --color: #222;
  --title-color: #000;
  --code-color: #222;
}

body[data-theme='dark'] {
  --bg-color: #191919;
  --color: #aaa;
  --title-color: #ddd;
  --code-color: #ccc;
}

@media (prefers-color-scheme: dark) {
  body {
    --bg-color: #191919;
    --color: #aaa;
    --title-color: #ddd;
    --code-color: #ccc;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--color);
}

h1,
h2,
h3 {
  color: var(--title-color);
}

h1 {
  margin: 0;
  padding: 12px 0;
  font-size: 1.5rem;
}

header {
  display: flex;
  align-items: baseline;
  padding: 0 12px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

#toggle-theme {
  cursor: pointer;
}

.splitter {
  flex-grow: 1;
}

.self-center {
  align-self: center;
}
